.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255,102,0);
    color: black;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 1rem;
    color: black;
    margin: 4px;
    margin-right: 0.4rem;
}


a{
    margin: 0.2rem; 
    text-decoration: none;
    color:black;
}

.nav-link:after {
    content: '|';
    padding-left: .4rem;
  }
  
.nav-link:last-child:after {
    content: '';
  }

.log-link {
    margin-right: 0.5rem;
}

.links{
    display: flex;
}

.nav-icon {
    margin: 2px;
    margin-bottom: 1px;
    width: 20.5px;
    height: 20px;
    border: 0.01px solid white;
    font-weight: bold;
    color: white;
    background-color: white;
}

.search-button {
    width: 27px;
    height: 22px;
    margin-right:1px;
}

.search-icon {
    width: 10px;
    height: 10px;
}
